body{
	background-image: url("fondoweb.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}
h1{
	text-align: center;
}

#SelecClean{
	position: absolute;
	top:80px;
	left:300px ;

}

#SelecProve{
	position: absolute;
	top:80px;
	left: 390px;
}

#DevelopClean{
	position: absolute;
	top:370px;
	left:310px ;

}

#DevelopProve{
	position: absolute;
	top:370px;
	left:400px;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* IExplorer */
}